.Navigation {
  height: 75px;
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  text-align: left;
  
  & > :last-child{
    text-align: right;
  }
  & > :not(:last-child){
    margin-right: 1em;
  }
  .nav-link{
    margin-top: 7px;
  }  
  
  a {
    border-bottom: none;
  }
  .nav-link {
    height: 1.15em;
    &:hover, &.link-active{
      border-bottom: 3px solid $color-highlight;
    }
  }

  a {
    &:not(:last-child){
      margin-right: 1em;  
    }
    display: inline-block;
    font-size: $font-size-medium;
    text-decoration: none;
    color: $color-text;
    float: left;
  }
}