.button {
  display: inline-block;
  background: none;
  -webkit-appearance: none;
  font-family: inherit;
  color: inherit;
  font-size: $font-size-medium;
  padding: .25em .75em;
  border: $border;
  border-color: $color-highlight; 
  min-width: 10em;
  &:not(:last-of-type) {
    margin-right: 1em;    
  }
  &:hover {
    background-color: $color-highlight;
    cursor: pointer;
  }
  &.button_small {
    font-size: $font-size-normal;
    padding: .2em .5em;
  } 
}