@import "../../../node_modules/react-select/dist/react-select";

.form_select {
  label {
    position: absolute;
    max-width: $label-width;
    padding-top: 7px;
  }
  &:after{
    content:" ";
    display: table;
    clear: both;
    height: 0;
    font-size: 0;
  }
  .Select {
     margin-bottom: $input-spacing;
  }
}

.Select {
  padding-left: $label-width;
  border-bottom: $border; 
  font-size: $font-size-medium;
  outline: none;
  &.is-focused {
    border-bottom-color: $color-highlight;
  }
  
  @for $i from 2 to 5 {
    &.Select-split-#{$i} {
      width: calc( ( ( 100% - #{$label-width} ) / #{$i} ) - 1px);
      float: left;
      &:not(:nth-child(2)){
        padding-left: 0;
      }
      &:nth-child(2){
        width: calc( ( 100% - #{$label-width} ) / #{$i} + #{$label-width});
      }
    }
  }
}
.Select-menu-outer{
  z-index: 100;
}
.Select-control{
  border-radius: 0;
  border: none;
  box-shadow: none!important;
}
.Select-placeholder, .Select-input, .Select-value {
  padding-left: 0 !important;
  line-height: 40px !important;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 40px;
}
.Select-option {
  &.is-focused{ 
  background-color: transparent;
  border-bottom: 2px solid $color-highlight;
  }
  &.is-selected {
    background-color: $color-highlight;
  }
}

.Select-arrow {
  border-top-color: $color-text;
}
.Select-arrow {
  border-color: $color-text transparent transparent;
  border-width: 10px 7px 0px;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
  border-top-color: $color-highlight;
}
.is-open > .Select-control .Select-arrow {
  top: -2px;
  border-color: transparent transparent $color-text;
  border-width: 0 7px 10px;
}